body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

a {
  color: #00B7FF;
}

.calendar {
  margin: 0 auto;
  overflow: hidden;
  width: 1200px;
}

.calendar__legend {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .calendar__legend li {
    line-height: 20px;
    margin: 4px 0;
  }
    .calendar__legend li span {
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

.month {
  float: left;
  width: 280px;
}

.day {
  box-sizing: border-box;
  float: left;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}

.color__weekend {
  background-color: #DABECA;
}
.color__today {
  border: 1px solid;
}
.color__maybe {
  background-color: #B0DDFF;
  border: 1px dashed;
}
.color__available {
  background-color: #D4FFBF;
}
.color__full {
  background-color: #FFE3AC;
}